body {
  background-color: #efefef;
}

div.app-container {
  min-width: 325px;
  width: 60%;
  display: block;
  background-color: #fff;
  margin: 0 auto;
  padding: 5px;
  border-radius: 15px;
  margin-top: 40px;
  box-shadow: 5px 5px 10px #bbb;
}

heading,
h1 {
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #aaa;
}

h1 input[type="text"] {
  font-family: "Segoe UI", sans-serif;
  font-size: 38px;
  text-align: center;
  outline: none;
  border: none;
  font-weight: bold;
  width: 100%;
}

ul {
  list-style: none;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 0;
}

li {
  display: inline;
  flex-grow: 4;
}

input[type="checkbox"] {
  margin-right: 15px;
  width: 18px;
  height: 18px;
  display: inline-block;
  top: 2px;
  position: relative;
  flex-grow: 1;
}

div.list-item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 5px;
  padding-top: 20px;
}

li textarea {
  width: 100%;
  font-size: 1em;
  outline: none;
  border: none;
  border-bottom: 1px solid #aaa;
  font-family: "Helvetica Neue", sans-serif;
  resize: none;
  padding: 0;
  margin: 0;
}

button {
  display: block;
  margin: 0 auto;
  height: 50px;
  width: 50px;
  background-color: #333;
  color: #fff;
  border: none;
  font-size: 2em;
  font-weight: bold;
  border-radius: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 3px 3px 6px #bbb;
}

.checked-item {
  text-decoration: line-through;
}
